@import '~@fluentui/react/dist/sass/References.scss';

$first_color : #0e2b63;
$second_color: #f5f5f5;

.box{
 width: 100%;
 text-decoration: none;
}

.teams {
  background-color: #0e2b63;; /* Teams teması */
  color: white;
}

.buttons{
  margin-left: 10px;
    padding: 8px;
    border-radius: 25px;
    border: 0 solid #253066;
    color: #253066;
    font-weight: 600;
    cursor: pointer;
    width: auto;

}

.searchInput {
  margin-right: 15px;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 14px;
  width: 60%;
}

.cardcontent{
  height: 40%;
  text-align: center;
  color: $first_color;
  max-width: 100px;
}

.cardArea{
  border: none;
  display: flex;
    flex-wrap: wrap;
    gap: 5px;
    padding: 10px;
    justify-content: center;
    margin-top: 25px;
    max-height: 500px;
    overflow-y: auto;
    text-decoration: none;

}

.cardBox{
  background-color: white;
  border: none;
  width: 100px;
  height: 100px;
  border-radius: 25px;
  a { 
    text-decoration: none; 
    &:hover { 
      text-decoration: none; 
    } 
  }
}


.folderName {
  font-size: 16px;
  font-weight: 600;
  color: #0e2b63;
  text-align: center;
  text-decoration: none;
}


.folderItem {
  cursor: pointer;
  padding: 10px;
  border: 1px solid #ddd;
  margin: 5px 0;
  border-radius: 4px;
  transition: background-color 0.3s ease;

  &:hover {
    background-color: #f0f0f0;
  }
}
.fileList {
  margin-top: 20px;
}

.fileItem {
  cursor: pointer;
  padding: 8px;
  border: 1px solid #ddd;
  margin-bottom: 5px;
  &:hover {
    background-color: #f1f1f1;
  }
}


.formGroup {
  margin-bottom: 20px;
}

.table{
  width: 100%;
}

.tableScoor{
  overflow-y: scroll;
  max-height: 400px;
}


.tableTitles{
  color: white;
  background-color: $first_color;
  border-radius: 25px;
  margin-top: 25px;
  min-width: 15%;
  padding: 5px;
}

.tableItems{
  color:$first_color;
  background-color: $second_color;
  border-radius: 25px;
  margin-bottom: 3px;
  padding: 5px;
  box-shadow: 1px 1px 1px $second_color;
  border: none;
}

.tableItems td{
  padding: 5px;
  border: none;
}

.tableItems button{
  width: 100%;
  border:0;
  cursor: pointer;
}

.backButton {
  background-color: #e74c3c;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 14px;
  font-weight: 600;
  transition: background-color 0.3s ease-in-out;
}

.backButton:hover {
  background-color: #c0392b;
}


.uploadButton {
  background-color: #4caf50; /* Yeşil renk */
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 14px;
  font-weight: 600;
  transition: background-color 0.3s ease-in-out;
}

.uploadButton:hover {
  background-color: #45a049; /* Daha koyu yeşil hover efekti */
}

/* Media Queries */
@media (max-width: 768px) {
  .header {
    flex-direction: column;
    text-align: center;
  }

  .headerRight {
    margin-top: 10px;
  }

  .folderSection {
    grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
  }
}

.folderList{
  width: 120px;
  height: 120px;
  border: 1 solid black;
  border-radius: 30%;
  cursor: pointer;
}
.folderList:hover{
  box-shadow: 5px 5px 5px gray;
  transition: box-shadow 0.2s;
}


.folderItem {
  margin: 5px 0;
  padding: 10px;
  background-color: #f3f2f1;
  border-radius: 5px;
}
.searchResults {
  margin-top: 20px;
}
 
.resultItem {
  margin-bottom: 10px;
  font-size: 16px;
}
 
.resultItem a {
  color: #0078d4;
  text-decoration: none;
}
 
.resultItem a:hover {
  text-decoration: underline;
}
.searchButton {
  padding: 8px;
  border-radius: 25px;
  border: 0 solid #253066;
  color: #253066;
  font-weight: 600;
  cursor: pointer;
  width: auto;
}
.cardicon{
  height: 50%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top:0px ;
}

.cardicon img{
width: 100%;
margin-bottom: 0px;
}

.managerButton {
  margin-left: 10px;
  background-color: #0078d4;
  color: white;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
}

.managerButton:hover {
  background-color: #005a9e;
}

.department-manager-container {
  border: 2px solid #003366;
  border-radius: 8px;
  padding: 20px;
  width: 300px;
  font-family: Arial, sans-serif;
  background-color: #fff;
}



.icon-folder {
  font-size: 24px;
  margin-right: 10px;
  color: #001a72;
}

.folder-list {
  margin-bottom: 20px;
}

.folder-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px 12px;
  border: 1px solid #ddd;
  border-radius: 4px;
  margin-bottom: 10px;
}

.folder-item span {
  font-size: 16px;
  font-weight: 500;
 // color: #333;
}

.folder-button {
  background: none;
  border: none;
  cursor: pointer;
  font-size: 16px;
  color: #d32f2f;
  transition: transform 0.2s;
}

.folder-button:hover {
  transform: scale(1.1);
}

.folder-button.delete {
  color: #d32f2f;
}

.folder-button.edit {
  color: #1976d2;
}

.folder-add {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.folder-add input {
  flex: 1;
  padding: 8px;
  border: 1px solid #ddd;
  border-radius: 4px;
  margin-right: 10px;
}

.add-button {
  width: 40px;
  height: 40px;
  background-color: #001a72;
  color: white;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  font-size: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 0.3s;
}
.addInput {
  flex: 1;
  padding: 8px;
  border: 1px solid #ddd;
  border-radius: 4px;
  margin-right: 10px;
}

.add-button:hover {
  background-color: #0039cb;
}

.folder-rename {
  margin-bottom: 20px;
}

.folder-rename input {
  flex: 1;
  padding: 8px;
  border: 1px solid #ddd;
  border-radius: 4px;
  margin-right: 10px;
}
.renameInput {
  flex: 1;
  padding: 8px;
  border: 1px solid #ddd;
  border-radius: 4px;
  margin-right: 10px;
}

.success-message {
  color: green;
  font-weight: bold;
  margin-top: 10px;
}

.error-message {
  color: red;
  font-weight: bold;
  margin-top: 10px;
}


/* Osman*/
.navlogo {
  width: 120px;
}

.nav {
  width: 100%;
  height: 50px;
  margin-top: 5px;
  display: flex;
  gap: 20px;
  align-items: center;
  justify-content: space-between;
}

h3{
  color: $first_color;
  padding-left: 5px;
  font-size: 1rem;
}

.navsearch {
  width: 40%;
  position: relative;
}

.navsearch input {
  width: 100%;
  height: 25px;
  border-radius: 50px;
  border-width: 0;
  background-color: #efefef;
  color: #253066;
  font-size: 0.8rem;
  padding: 5px;
  padding-left: 10px;
  position: relative;
  z-index: 1;
}

.navsearchicon {
  width: 20px;
  position: absolute;
  top: 7px;
  right: 0px;
  left: 95%;
  z-index: 2;
  cursor: pointer;
}

.nav button {
  margin-left: 10px;
  padding: 10px;
  border-radius: 25px;
  border: 0 solid #253066;
  color: #253066;
  font-weight: 600;
  cursor: pointer;
}


.nav button:hover {
  box-shadow: 2px 2px 5px #253066;
  transition: box-shadow 0.2s;
}



.dokumanYukle {
  margin: 20px;
}

.dokumanYukle h3 {
  color: #0078d4; /* SharePoint mavisi */
  font-size: 18px;
  margin-bottom: 10px;
}

.dokumanYukle .dropdown {
  width: 300px;
}
.uploadSection {
  margin: 20px 0;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  text-align: center;
}

.uploadInput {
  display: block;
  margin: 10px auto;
}

.uploadButton {
  background-color: #0078d4;
  color: white;
  padding: 8px 16px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.uploadButton:hover {
  background-color: #005a9e;
}

.languageInput {
  padding: 8px;
  font-size: 14px;
  margin: 10px 0;
  width: 100%;
  border-radius: 4px;
  border: 1px solid #ccc;
}


